.dropdown {
    width: 14rem;
    font-size: 1.4rem;
    position: relative;
}

.dropdown .header {
    background-color: #C76958;
    color: azure;
    height: 4rem;
    padding: 0 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
}

.dropdown .header:hover {
    background-color: #c7695872;
}
  
.dropdown .header .arrow {
    margin-left: auto;
    border: solid azure;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    transition: transform 0.3s;
}
  
.dropdown .header .up {
    transform: rotate(-135deg);
}
  
.dropdown .options {
    color: black;
    background-color: #fff;
    height: 20rem;
    width: 100%;
    padding: 0;
    margin: 5px 0 0 0;
    text-align: left;

    position: absolute;
    top: 100%;
    left: 0;

    overflow: scroll;
    list-style-type: none;
    border-radius: 4px;
    z-index: 1;
}
  
.dropdown .option {
    cursor: pointer;
    padding: 10px;
}
  
.dropdown .option:hover {
    background-color: #c7695875;
}

.dropdown .option.selected {
    color: azure;
    background-color: #C76958;
}