.home .list {
    padding: 2rem .5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,minmax(0,1fr));
    justify-items: center;
    gap: 2rem;
}

/* sm */
@media (min-width: 640px) {
    .home .list  {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}
/* md */
@media (min-width: 768px) {
    .home .list  {
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
}

/* lg */
@media (min-width: 1024px){
    .home .list  {
        grid-template-columns: repeat(4,minmax(0,1fr));
    }
}
