.home .not-found {
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.home .not-found h1 {
    margin: 1rem 0;
    color: var(--secondary);
    font-size: clamp(3rem, 6vw, 7rem);
}

.home .not-found img {
    height: 50%;
    padding: 5px;
    border: 1px solid rgba(255,255,255,0.24);
    border-radius: 2rem;
    filter: grayscale(100%);
    box-shadow: var(--shadow-card);
}
