.footer {
    background-color: #292524;
    height: 9rem;
    width: 100vw;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 100;
}

.footer button {
    background-color: #C76958;
    color: azure;
    width: 3rem;
    margin: 0 .5rem;
    padding: .8rem;
    border: none;
    border-radius: .5rem;
}

.footer .disabled {
    background-color: red;
}

.footer button:first-child,
.footer button:last-child {
    width: 5rem;
}