*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #292524;
}

.App {
  text-align: center;
}

/* Background Colors */
:root {
  --black: #47565B;
  --blue: #93C5FD;
  --brown: #B45309;
  --gray:  #71717A;
  --green: #BEF264;
  --pink: #F9A8D4;
  --purple: #D8B4FE;
  --red: #FCA5A5;
  --white: #D4D4D8;
  --yellow: #FDE047;
  --default: #E2E8F0;
}