.modal .content {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.modal .content .visual,
.modal .content .details {
    z-index: 15;
}

.modal .content .visual {
    height: 58rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .content .details {
    background-color: white;
    margin: 3rem;
    height: 52rem;
    padding: 2rem;
    text-align: left;

    border-radius: 1rem;
    box-shadow: -2px -2px 5px 0px rgba(196,196,196,0.75);
    -webkit-box-shadow: -2px -2px 5px 0px rgba(196,196,196,0.75);
    -moz-box-shadow: -2px -2px 5px 0px rgba(196,196,196,0.75);
}

.modal .content .details h3 {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

.modal .content .details .desc p,
.modal .content .details .char .container,
.modal .content .details .stat .container {
    margin: 1rem;
}

.modal .content .details .char .container .data {
    display: flex;
    justify-content: space-around;
}